.container {
    align-self: center;
    margin: 0 auto;
    text-align: center;
    color:var(--text-color);
    font-size: 0.9rem;
}

/*--------Tablet--------*/
@media screen and (max-width: 1024px) {
    .container {
        font-size: 0.65rem;
    }
}

/*--------Phone--------*/
@media screen and (max-width: 600px) {
    .container {
        font-size: 0.75rem;
    }
}