.dashboard {
    margin: 2% 9%;
    border-radius: 0.5rem;
    padding: 25px 200px;
    position: relative;
}

.dash-title {
    font-weight: 600;
    font-size: 3.75rem;
    color: #eee;
}

.card-display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.dashboard-card-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    transform: scale(0.8);
}

.no-card-display {
    position: absolute;
    color:#eee;
    font-size: 2.75rem;
    width: 80%;
    line-height: 5rem;
}

.no-card-display h2 {
    font-weight: 400;
}

.no-card-display-link {
    color:rgb(235, 210, 101);
    font-weight: 500;
    transition: color ease-in-out 0.45s;
}

.no-card-display-link:hover {
    color: #eee;
}