.initial {
   margin: 0 auto;
   text-align: center;
  
}

.initial-time {
    display: flex;
    align-items: center;
    justify-content: center;
}

.initial-clock {
    font-size: 7rem;
    font-weight: 600;
    color: #eee;
    position: relative;
    width: 500px;
}

.initial-ampm {
    margin-left: 20px;
    font-size: 7rem;
    color: #eee;
}

.initial-date {
    color: #eee;
    font-size:4rem;
    margin-top: 30px;
}