/*--------SEARCH BAR START--------*/
.searchBar {
    margin: 75px;
}

#searchForm {
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: center;
}

#searchField {
    border-style: none;
    border-radius: 5rem 0 0 5rem;
    width: 700px;
    height: 100%;
    padding-left: 4rem;
    font-size: 1.75rem;
    box-sizing: border-box;
    box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.3);
}

#searchField::placeholder {
    color: rgb(168, 164, 164)
}

#searchField:focus {
    outline: none;
}

.searchBar button {
    background-color: rgb(235, 229, 229);
    border-style: none;
    border-radius: 0 5rem 5rem 0;
    height: 100%;
    padding: 0 40px;
    margin-left: -4px;
    vertical-align: middle;
    box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.44);
    -webkit-box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.44);
    transition: background-color ease-in-out 0.2s;
}

.searchBar button:hover {
    background-color: rgb(201, 198, 198);
}

/*--------SEARCH BAR END--------*/

@media screen and (max-width: 600px) {
    #searchField {
        transform: scale(0.7);
        margin-left: -50px;
    }

    .searchBar button {
        transform: scale(0.7);
        margin-left: -100px;
    }
}

@media screen and (max-width: 430px) {
    #searchField {
        transform: scale(0.5);
        margin-left: -75px;
    }

    .searchBar button {
        transform: scale(0.5);
        margin-left: -130px;
    }
}