.dashboard {
    margin: 5% auto;
    border-radius: 0.5rem;
    padding: 25px 15%;
    position: relative;
}

.dash-header {
    margin-left: 10px;
}

.dash-title {
    font-weight: 600;
    font-size: 3.75rem;
    color: #eee;
    white-space: nowrap;
}

.card-display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.no-card-display {
    position: absolute;
    color:#eee;
    font-size: 2.75rem;
    width: 68%;
    line-height: 7rem;
    margin-top: -40px;
}

/*SEPARATE SENTENCES WITH A NEWLINE*/
.no-card-display span {
    display: block;
}

.no-card-display h2 {
    font-weight: 400;
}

.no-card-display-link {
    color:rgb(235, 210, 101);
    font-weight: 500;
    transition: color ease-in-out 0.45s;
}

.no-card-display-link:hover {
    color: #eee;
}

/*--------Prevents squish cards--------*/
@media screen and (max-width: 1250px) {
    .card-display {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1024px) {
    .dashboard {
        padding: 25px 4% 25px;
    }

    .no-card-display {
        font-size: 2rem;
        width: 90%;
        line-height: 7rem;
        margin-top: -40px;
    } 
}