.mobile-nav {
    position: relative;
    margin-right: 50px;
    height: 100%;
}

.hamburger {
    background: none;
    border: none;
    padding: 10px;
    color: var(--text-color);
    margin-top: 20px;
}

.mobile-list-line {
    display: block;
    height: 5px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: rgba(255, 251, 251, 0.6);
    overflow: hidden;
}

.mobile-nav-list {
    margin-top: 20px;
    background-color: var(--mobile-nav-dropdown);
    box-shadow: -5px 1px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: -5px 1px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -5px 1px 5px 0px rgba(0, 0, 0, 0.1);
    height: 100vh;
    width:300px;
    padding: 25px 0;
    position: absolute;
    right: -34px;
    box-sizing: border-box;
    transition: background-color ease-in-out 0.1s;
}

.mobile-nav-list li {
    list-style: none;
}

.mobile-nav-list li a {
    text-decoration: none;
    color: var(--text-color);
    padding: 1.5rem;
    margin-left: 10px;
    font-size: 1.15em;
    display: flex;
    align-self: center;
    transition: color ease-in-out 0.3s;
}

.setting-menu {
    color: var(--text-color);
    padding: 0 1.5rem;
    margin-left: 10px;
    font-size: 1.25em;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

/*Hide mobile navbar for desktop*/
@media screen and (min-width: 1024px) {
    .mobile-nav {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .mobile-nav-list {
        width:100vw;
        position: absolute;
        height: fit-content;
        padding: 25px 0 70px 15px;
        box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.3);
    }

    .mobile-nav-list li {
        font-size: 1rem;
    }

}