.desktop-nav {
    display: flex;
    align-items: center;
    margin: 0;
    padding-right: 7%;
    background-color: var(--nav-color);
    transition: background-color ease-in-out 0.2s;
}

.desktop-nav li {
    list-style: none;
    height: 100%;
    transition: background-color ease-in-out 0.3s;
   
}

.desktop-nav li a {
    text-decoration: none;
    color: var(--text-color);
    padding: 2rem;
    font-size: 1.5em;
    display: flex;
    align-self: center;
    transition: color ease-in-out 0.3s;
}

.desktop-nav-li:hover {
    background-color: var(--hover-color);
}

.fa-lg {
    transition: color ease-in-out 0.1s;
}

/*Hide desktop navbar for mobile*/
@media screen and (max-width: 1024px) {
    .desktop-nav {
        display: none;
    }

}